<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<form method="POST" action="/addBook" >
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input name="name"/></td>
        </tr>
        <tr>
            <td><label>
                Genre</label></td>
            <td><input name="genre"/></td>
        </tr>
        <tr>
            <td><label>
                Premiere</label></td>
            <td><input type="date" name="premiere"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>